@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'reset.scss';

html {
	font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	font-family: 'Nunito', sans-serif;
}

h1 {
	font-size: 3.6rem;
	line-height: 1.2;
	filter: drop-shadow(4px 4px 0px #ff7051);
}

h2 {
	font-size: 2.8rem;
	line-height: 1.2;
	filter: drop-shadow(4px 4px 0px #fede65);
}

h3 {
	font-size: 2.2rem;
	line-height: 1.2;
	filter: drop-shadow(4px 4px 0px #fede65);
}

h4 {
	font-size: 1.8rem;
	line-height: 1.2;
	filter: drop-shadow(4px 4px 0px #fede65);
}

h5 {
	font-size: 1.6rem;
	line-height: 1.2;
}

h6 {
	font-size: 1.4rem;
	line-height: 1.2;
}

p {
	font-size: 1.4rem;
	line-height: 1.5;
}

a {
	font-size: 1.4rem;
	line-height: 1.5;
}

button {
	padding: 0.8rem 1.8rem;
	font-size: 1.2rem;
	font-weight: 700;
	border: 3px solid #000000;
	border-radius: 5px;
	background: #ff7051;
	color: #000000;
}

.shadow {
	filter: drop-shadow(4px 4px 0px #000000);
	border: 3px solid #000000;
	border-radius: 5px;
}

.text-shadow {
	filter: drop-shadow(4px 4px 0px #ff7051);
}

.text-shadow-secondary {
	filter: drop-shadow(4px 4px 0px #ffc700);
}

.border-bottom {
	border-bottom: 1.5px solid #000000;
}

.underline-animation {
	font-size: 1.2rem;
	text-decoration: none;
	position: relative;
}

.underline-animation:hover,
.underline-animation:focus {
	color: #ffffff;
}

.underline-animation::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: -3px;
	width: 0;
	height: 3px;
	background-color: #ffffff;
	transition: width 0.3s ease;
}

.underline-animation:hover::after,
.underline-animation:focus::after {
	width: 100%;
}

.underline-animation:hover::after {
	right: auto;
	left: 0;
}

.underline-animation::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 0;
	height: 3px;
	background-color: #ffffff;
	transition: width 0.3s ease;
}

.underline-animation:hover::before,
.underline-animation:focus::before {
	width: 100%;
}

.underline-animation:focus::before {
	right: 0;
	left: auto;
}

.wobble {
	transition: transform 0.3s ease-in-out;

	&:hover {
		animation: wobble 0.5s;
		animation-timing-function: ease-out;
		animation-fill-mode: forwards;
	}
}

@keyframes wobble {
	0% {
		transform: translate(0, 0);
	}
	15% {
		transform: translate(0, -5px) rotate(-2deg);
	}
	30% {
		transform: translate(0, 0) rotate(2deg);
	}
	45% {
		transform: translate(0, -5px) rotate(-2deg);
	}
	60% {
		transform: translate(0, 0) rotate(2deg);
	}
	75% {
		transform: translate(0, -5px) rotate(-2deg);
	}
	100% {
		transform: translate(0, 0);
	}
}
